<!doctype html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Title of the page</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
		{% include 'parts/_header.html.twig' with { 'title': 'Hello World !' } %}
        <main>
			{% block content %}
			{% endblock %}
		</main>
		{% include 'parts/_footer.html.twig' %}
        <script src="/js/script.js"></script>
		{% block scripts %}
		
		{% endblock %}
    </body>
</html>